@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="col-md-offset-4">
        <h1>Test Survey</h1>
    </div>
    <br />
    <h2>Pick one of surveys:</h2>
    <ul>
        <li>@Html.ActionLink("First Survey", "Index", "Survey", routeValues: new { SurveyId = 2 }, htmlAttributes: null)</li>
        <li>@Html.ActionLink("Second Survey", "Index", "Survey", routeValues: new { SurveyId = 3 }, htmlAttributes: null)</li>
        <li>@Html.ActionLink("Third Survey", "Index", "Survey", routeValues: new { SurveyId = 4 }, htmlAttributes: null)</li>
    </ul>
</div>