@model IEnumerable<SurveyInfo>

@{
    ViewBag.Title = "Index";
}

<h2>New Survey</h2>
<br />

<table>
    @foreach (var survey in Model)
    {
        Html.RenderPartial("Question", survey);
    }
</table>

<input type="submit" id="save" value="Save" />
