@model IList<Question>

@{
    ViewBag.Title = "Index";
}

<h2>New Survey</h2>
<br />

@*@using (Html.BeginForm("Create", "Survey", FormMethod.Post))
{*@
    <table>
        @foreach (var survey in Model)
        {
        <tr>
            @{ Html.RenderPartial("Question", survey); }
        </tr>
        }
    </table>

    <input type="submit" id="save" value="Save" />
