@model IEnumerable<SurveyInfo>

@{
    ViewBag.Title = "Index";
    <script type="text/javascript" src="~/Scripts/jquery.simplePagination.js"></script>
}

@foreach (var survey in Model)
{
    Html.RenderPartial("Question", survey);
}

<br />

<input type="submit" id="save" value="Save" />

<div id="pagination"></div>

<script type="text/javascript">
    $(function() {
        $("#pagination").pagination({
            itemsOnPage: 5,
            pages: 3,
            cssStyle: 'light-theme'
        });
    });

    if (question.Id > 3) {
        $(function() {
            $(selector).pagination('nextPage');
        });
    }
</script>

