
@{
    ViewBag.Title = "SecondPage";
    //Model = List<string>;
}

@Html.BeginForm(){ 
    
}

<h2>SecondPage</h2>

<br />

<h4>Question 4</h4>
<div class="radio">
    <label><input type="radio" name="optradio">Answer 1</label>
</div>
<div class="radio">

    <label><input type="radio" name="optradio">Answer 2</label>
</div>
<div class="radio">
    <label><input type="radio" name="optradio">Answer 3</label>
</div>

<br />

<h4>Question 5</h4>
<div class="form-group">
    <label for="comment">Answer:</label>
    <textarea class="form-control" rows="2" id="comment"></textarea>
</div>

<br />

<h4>Question 6</h4>
<h5>Select all appropriate answers:</h5>
<div class="checkbox">
    <label><input type="checkbox" value="">Answer 1</label>
</div>
<div class="checkbox">
    <label><input type="checkbox" value="">Answer 2</label>
</div>
<div class="checkbox">
    <label><input type="checkbox" value="">Answer 3</label>
</div>
<div class="checkbox">
    <label><input type="checkbox" value="">Answer 4</label>
</div>
<div class="checkbox">
    <label><input type="checkbox" value="">Answer 5</label>
</div>

<br />

<ul class="pagination">
    <li><a href="/Survey/Index">1</a></li>
    <li><a class="active" href="/Survey/SecondPage">2</a></li>
    <li><a href="/Survey/ThirdPage">3</a></li>
</ul>

<script type="text/javascript">

</script>