
@{
    ViewBag.Title = "ThirdPage";
}

<h2>ThirdPage</h2>

<br />

<h4>Question 7</h4>
<div class="form-group">
    <label for="comment">Answer:</label>
    <textarea class="form-control" rows="2" id="comment"></textarea>
</div>

<br />

<h4>Question 8</h4>
<h5>Select all appropriate answers:</h5>
<div class="checkbox">
    <label><input type="checkbox" value="">Response 1</label>
</div>
<div class="checkbox">
    <label><input type="checkbox" value="">Response 2</label>
</div>
<div class="checkbox">
    <label><input type="checkbox" value="">Response 3</label>
</div>
<div class="checkbox">
    <label><input type="checkbox" value="">Response 4</label>
</div>
<div class="checkbox">
    <label><input type="checkbox" value="">Response 5</label>
</div>

<br />

<h4>Question 9</h4>
<div class="radio">
    <label><input type="radio" name="optradio">Response 1</label>
</div>
<div class="radio">

    <label><input type="radio" name="optradio">Response 2</label>
</div>
<div class="radio">
    <label><input type="radio" name="optradio">Response 3</label>
</div>

<br />

<ul class="pagination">
    <li><a href="/Survey/Index">1</a></li>
    <li><a href="/Survey/SecondPage">2</a></li>
    <li><a class="active" href="/Survey/ThirdPage">3</a></li>
</ul>
